USE [master]
GO
/****** Object:  Database [challenge]    Script Date: 5/8/2024 8:03:34 PM ******/
CREATE DATABASE [challenge]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Challenge', FILENAME = N'C:\SQLData\Challenge.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Challenge_log', FILENAME = N'C:\SQLData\Challenge_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 COLLATE SQL_Latin1_General_CP1_CI_AI
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [challenge].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Login [NT SERVICE\Winmgmt]    Script Date: 5/8/2024 8:03:35 PM ******/
CREATE LOGIN [NT SERVICE\Winmgmt] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLWriter]    Script Date: 5/8/2024 8:03:35 PM ******/
CREATE LOGIN [NT SERVICE\SQLWriter] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLTELEMETRY$SQLEXPRESS]    Script Date: 5/8/2024 8:03:35 PM ******/
CREATE LOGIN [NT SERVICE\SQLTELEMETRY$SQLEXPRESS] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT Service\MSSQL$SQLEXPRESS]    Script Date: 5/8/2024 8:03:35 PM ******/
CREATE LOGIN [NT Service\MSSQL$SQLEXPRESS] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT AUTHORITY\SYSTEM]    Script Date: 5/8/2024 8:03:35 PM ******/
CREATE LOGIN [NT AUTHORITY\SYSTEM] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [LAPTOP-DHGSJ561\HP]    Script Date: 5/8/2024 8:03:35 PM ******/
CREATE LOGIN [LAPTOP-DHGSJ561\HP] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [BUILTIN\Users]    Script Date: 5/8/2024 8:03:35 PM ******/
CREATE LOGIN [BUILTIN\Users] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyTsqlExecutionLogin##]    Script Date: 5/8/2024 8:03:35 PM ******/
CREATE LOGIN [##MS_PolicyTsqlExecutionLogin##] WITH PASSWORD=N'dc04UasPyIKXDXkkOwKqr078hDFEdlFhB3Jm80tSKoc=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyTsqlExecutionLogin##] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyEventProcessingLogin##]    Script Date: 5/8/2024 8:03:35 PM ******/
CREATE LOGIN [##MS_PolicyEventProcessingLogin##] WITH PASSWORD=N'DgyshDlpRyLE8z4Okl7InTSWWU5Jar6Mnl2iA6n/UUY=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyEventProcessingLogin##] DISABLE
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\Winmgmt]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLWriter]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT Service\MSSQL$SQLEXPRESS]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [LAPTOP-DHGSJ561\HP]
GO
USE [challenge]
GO
GRANT VIEW ANY COLUMN ENCRYPTION KEY DEFINITION TO [public] AS [dbo]
GO
GRANT VIEW ANY COLUMN MASTER KEY DEFINITION TO [public] AS [dbo]
GO
/****** Object:  Table [dbo].[Operaciones]    Script Date: 5/8/2024 8:03:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Operaciones](
	[OperationID] [int] NOT NULL,
	[CardID] [int] NULL,
	[TipoOperacion] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[Monto] [decimal](10, 2) NULL,
	[FechaOperacion] [datetime] NULL,
 CONSTRAINT [PK__Operacio__A4F5FC6429470D8E] PRIMARY KEY CLUSTERED 
(
	[OperationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tarjetas]    Script Date: 5/8/2024 8:03:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tarjetas](
	[CardID] [int] NOT NULL,
	[NumeroTarjeta] [varchar](16) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[PIN] [varchar](4) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[Saldo] [decimal](10, 2) NULL,
	[Bloqueada] [bit] NULL,
	[UltimaExtraccion] [datetime] NULL,
	[Intentos] [int] NOT NULL,
 CONSTRAINT [PK__Tarjeta__55FECD8E2E407C52] PRIMARY KEY CLUSTERED 
(
	[CardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 5/8/2024 8:03:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UserID] [int] NOT NULL,
	[Nombre] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[CardID] [int] NULL,
 CONSTRAINT [PK__Usuario__1788CCAC7A72220B] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Tarjetas] ADD  CONSTRAINT [DF__Tarjetas__Intent__48CFD27E]  DEFAULT ((0)) FOR [Intentos]
GO
ALTER TABLE [dbo].[Operaciones]  WITH CHECK ADD  CONSTRAINT [FK__Operacion__CardI__3C69FB99] FOREIGN KEY([CardID])
REFERENCES [dbo].[Tarjetas] ([CardID])
GO
ALTER TABLE [dbo].[Operaciones] CHECK CONSTRAINT [FK__Operacion__CardI__3C69FB99]
GO
ALTER TABLE [dbo].[Tarjetas]  WITH CHECK ADD  CONSTRAINT [FK_Tarjetas_Tarjetas] FOREIGN KEY([CardID])
REFERENCES [dbo].[Tarjetas] ([CardID])
GO
ALTER TABLE [dbo].[Tarjetas] CHECK CONSTRAINT [FK_Tarjetas_Tarjetas]
GO
/****** Object:  Statistic [PK__Operacio__A4F5FC6429470D8E]    Script Date: 5/8/2024 8:03:36 PM ******/
UPDATE STATISTICS [dbo].[Operaciones]([PK__Operacio__A4F5FC6429470D8E]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000,ROWCOUNT = 0,PAGECOUNT = 0,AUTO_DROP = OFF
GO
/****** Object:  Statistic [_WA_Sys_00000003_37A5467C]    Script Date: 5/8/2024 8:03:36 PM ******/
CREATE STATISTICS [_WA_Sys_00000003_37A5467C] ON [dbo].[Tarjetas]([NumeroTarjeta]) WITH STATS_STREAM = 0x01000000010000000000000000000000A52AD6E1000000002102000000000000E101000000000000A7030000A7000000100000000000000008F000360000000007000000F4A91E0069B1000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000A0400000803F000000000000A04000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000024000000000000005D0000000000000065000000000000006D000000000000000800000000000000300010000000803F000000000000803F04000001001C003132333435FF010000000000000001000000010000002800000028000000000000000000000005000000313233343502000000400000000001050000000001000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000006_37A5467C]    Script Date: 5/8/2024 8:03:36 PM ******/
CREATE STATISTICS [_WA_Sys_00000006_37A5467C] ON [dbo].[Tarjetas]([Bloqueada]) WITH STATS_STREAM = 0x01000000010000000000000000000000FC3BECF800000000D801000000000000980100000000000068020000680000000100010000000000000000000000000007000000207C120168B1000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000110000000000803F0000803F000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001C0000000000000024000000000000002C000000000000000800000000000000100011000000803F000000000000803F0004000001000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [PK__Tarjeta__55FECD8E2E407C52]    Script Date: 5/8/2024 8:03:36 PM ******/
UPDATE STATISTICS [dbo].[Tarjetas]([PK__Tarjeta__55FECD8E2E407C52]) WITH STATS_STREAM = 0x01000000010000000000000000000000121360AE00000000DB010000000000009B01000000000000380300003800000004000A000000000000000000000000000700000065FB010168B1000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0100000004000001000000000000000000000000000000,ROWCOUNT = 1,PAGECOUNT = 1,AUTO_DROP = OFF
GO
/****** Object:  Statistic [PK__Usuario__1788CCAC7A72220B]    Script Date: 5/8/2024 8:03:36 PM ******/
UPDATE STATISTICS [dbo].[Usuarios]([PK__Usuario__1788CCAC7A72220B]) WITH STATS_STREAM = 0x010000000100000000000000000000003D80E6CF00000000DB010000000000009B01000000000000380300003800000004000A00000000000000000000000000070000002BB2FC0068B1000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0100000004000001000000000000000000000000000000,ROWCOUNT = 1,PAGECOUNT = 1,AUTO_DROP = OFF
GO
USE [master]
GO
